.bg-graynav {
  background-color: #3b424b;
}

.card-superposition img {
  filter: brightness(50%);
}

.card-img-overlay {
  padding-right: 8.5rem !important;
  padding-top: 28% !important;
  padding-left: 25% !important;
  height: max-content;
}

.card-title1,
.card-text1,
.btn-outline {
  color: white;
}

.card-text1 {
  font-size: 0.8rem;
}

.card-title1 {
  font-size: 2rem;
}

.btn-success {
  background: rgb(14, 151, 14) !important;
}

footer {
  background-color: #154d6b;
  margin-top: 1rem;
}

footer .bg-copy {
  background-color: rgba(0, 0, 0, 0.4);
}

/* PAGINA COMPRA DE TICKETS */

.row-group {
  align-items: center;
  padding: 0 10%;
  /*justify-content: space-between !important;*/
}

.grupo-tickets {
  margin-top: 8rem;
}

.card-tickets {
  text-align: center;
  padding: 1rem;
}

.card-tickets:hover {
  transform: scale(0.9);
  transition: 0.8s linear;
  background-color: rgb(220, 220, 220);
}

.card-tickets-estudiante {
  border: solid 1.5px rgb(40, 130, 230) !important;
}

.card-tickets-trainee {
  border: solid 1.5px rgb(56, 190, 205) !important;
}

.card-tickets-junior {
  border: solid 1.5px rgb(220, 190, 30) !important;
}

.formulario-tickets {
  padding-top: 5px;
  margin: 0 auto;
  width: 50%;
}

.total-pagar {
  background-color: #b1daf0 !important;
}

.container-btn-tickets {
  align-items: center !important;
}

.btn-ticket {
  width: 48.3%;
  border: none !important;
  background-color: #84cf3a !important;
}
